# Cloudflare R2
Sentinel__R2AccessKey=your_access_key
Sentinel__R2SecretKey=your_secret_key
Sentinel__R2Endpoint=https://<account_id>.r2.cloudflarestorage.com
Sentinel__R2BucketName=backups

# SQL Server
Sentinel__DbConnectionString=Server=localhost;Database=master;User Id=backup_user;Password=<PASSWORD>;TrustServerCertificate=True

# Databases
Sentinel__IncludedDatabases__0=DB1
Sentinel__IncludedDatabases__1=DB2
Sentinel__IncludedDatabases__2=DB3

# Schedule
BackupSchedule__RunAtHour=2
BackupSchedule__RunAtMinute=0

# Backup
BackupFolder=C:\Backups
BackupHostName=SERVER01

# Logging
LogConfig__FolderPath=Logs
LogConfig__FileName=log.txt
LogConfig__MinimumLevel=Information